@model hrhdashboard.ViewModel.AdminViewModel;
@{
    ViewData["Title"] = "Adminstrator";
}

<style type="text/css">
    .zero-padding {
        padding: 0px;
    }

    .zero-margin {
        margin: 0px;
    }

    .dropdown-content li {
        min-height: 10px;
    }

    .dropdown-content li > a, .dropdown-content li > span {
        padding: 10px;
    }

    a.btn.waves-effect.waves-light {
        margin: 0px 55px 55px;
    }
</style>

<script>
    $(function () {
        jq(document).ready(function () {
            jq('.modal').modal();
            jq('#county').hide();
            jq('#sub_county').hide();
        });

        jq('#Users_Roles_Id').change(function () {
            var RoleId = this.value;


            if (RoleId == 4) {
                jq('#county').show();
                jq('#sub_county').show();

            }
            else {
                jq('#county').hide();
            }
        });

        jq('#Users_Roles_Id').change(function () {
            var RoleId = this.value;


            if (RoleId == 4) {
                jq('#county').show();
                jq('#sub_county').show();

            }
            else {
                jq('#county').hide();
            }
        });

        jq('#Users_County_Id').change(function () {
            jq.ajax({
                dataType: "json",
                url: '/Admin/GetConstituency',
                data: {
                    "idnt": jq('#Users_County_Id').val()
                },
                success: function(results) {
                    jq('#Users_Constituency_Id').empty();
                    jq.each(results, function(i, row) {
                        jq('#Users_Constituency_Id').append("<option value='" + row.value + "'>" + row.text + "</option>");
                    })
                }
            });
        });
    });


</script>

<div class="row" style="margin-top: 10px">
    <div class="col-md-12">
        <div id="flight-card" class="card">
            <div class="card-header deep-orange accent-2">
                <div class="card-title">
                    <h4 class="flight-card-title"></h4>
                    <p class="flight-card-date">
                        <span class="task-cat cyan"> Admin Page </span>

                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="card-stats" style="display:none">
        <div class="row">
            <div class="col s12 m6 l3">
                <div class="card gradient-45deg-light-blue-cyan gradient-shadow min-height-100 white-text">
                    <div class="padding-4">
                        <div class="col s7 m7">
                            <i class="material-icons background-round mt-5">timeline</i>
                            <p>Minimums Norms</p>
                        </div>
                        <div class="col s5 m5 right-align">
                            <h5 class="mb-0">690</h5>
                            <p class="no-margin">Total</p>
                            <p>6,00,00</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card gradient-45deg-red-pink gradient-shadow min-height-100 white-text">
                    <div class="padding-4">
                        <div class="col s7 m7">
                            <i class="material-icons background-round mt-5">perm_identity</i>
                            <p>Human Resource</p>
                        </div>
                        <div class="col s5 m5 right-align">
                            <h5 class="mb-0">1885</h5>
                            <p class="no-margin">Total</p>
                            <p>1,12,900</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card gradient-45deg-amber-amber gradient-shadow min-height-100 white-text">
                    <div class="padding-4">
                        <div class="col s7 m7">
                            <i class="material-icons background-round mt-5">timeline</i>
                            <p>Infrastructure</p>
                        </div>
                        <div class="col s5 m5 right-align">
                            <h5 class="mb-0">80%</h5>
                            <p class="no-margin">Total</p>
                            <p>3,42,230</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card gradient-45deg-green-teal gradient-shadow min-height-100 white-text">
                    <div class="padding-4">
                        <div class="col s7 m7">
                            <i class="material-icons background-round mt-5">attach_money</i>
                            <p>Users</p>
                        </div>
                        <div class="col s5 m5 right-align">
                            <h5 class="mb-0">$890</h5>
                            <p class="no-margin">Total</p>
                            <p>$25,000</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="divider"></div>
    <!--card widgets start-->
    <div id="card-widgets" class="seaction">
        <div class="row">
            <div class="col s12 m4 l4">
                <ul id="task-card" class="collection with-header">
                    <li class="collection-header cyan">
                        <h4 class="task-card-title">User Manager</h4>
                        <p class="task-card-date">@DateTime.Now.ToString("MMM d, yyyy")</p>
                    </li>
                    <li class="collection-item dismissable">
                        <p>
                            <i class="material-icons">perm_identity</i> <a href="/administrator/users">View Users</a>
                        </p>

                        <p>
                            <i class="material-icons">person_add</i> <a href="/administrator/users/add">Add User</a>
                        </p>
                    </li>
                </ul>
            </div>

            <div class="col s12 m4 l4">
                <ul id="task-card" class="collection with-header">
                    <li class="collection-header cyan">
                        <h4 class="task-card-title">Minimums</h4>
                        <p class="task-card-date">Manage Norms &amp; Standards</p>
                    </li>
                    <li class="collection-item dismissable">
                        <p>
                            <i class="material-icons"> assessment</i> <a href="/administrator/norms">View Norms </a>
                        </p>

                        <p>
                            <i class="material-icons"> add</i> <a class="modal-trigger" href="/administrator/norms/add">Add Norms </a>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    @using (Html.BeginForm("PostUsers", "Admin", FormMethod.Post))
    {
        <div id="modal2" class="modal modal-fixed-footer">
            <div class="modal-content">
                <h4 class="header2">User Registration Form</h4>
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">account_circle</i>
                                @Html.TextBoxFor(model => model.Users.Username)
                                <label for="first_name">Name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">email</i>
                                @Html.TextBoxFor(model => model.Users.Email)
                                <label for="email">Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">lock_outline</i>
                                @Html.PasswordFor(model => model.Users.Password)
                                <label for="password">Password</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">lock_outline</i>
                                <input id="password5" type="password" class="validate">
                                <label for="password">Confirm Password</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">question_answer</i>
                                @Html.DropDownListFor(model => model.Users.Role.Id, Model.Role, "Select Role")
                                <label for="message">Role</label>
                            </div>
                        </div>
                        <div id="county" class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">question_answer</i>
                                @Html.DropDownListFor(model => model.Users.AccessLevel, Model.Counties, "Select County")
                                <label for="message">county</label>
                            </div>
                        </div>
                        <div id="sub_county" class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">question_answer</i>
                                <label for="message">Constituency</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <button class="btn cyan waves-effect waves-light right" type="submit" name="action">
                                    Submit
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    }


    <div id="add_norm" class="modal modal-fixed-footer">

        @using (Html.BeginForm("PostNormItems", "Admin", FormMethod.Post))
        {
            <div class="modal-content">
                <h4 class="header2">ADD NORM</h4>
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">account_circle</i>
                                @Html.TextBoxFor(model => model.NormsItems.Name)
                                <label for="first_name">Name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">question_answer</i>
                                @Html.DropDownListFor(model => model.NormsItems.Type.Id, Model.Types, "Select Type")
                                <label for="message">Type</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">question_answer</i>
                                @Html.DropDownListFor(model => model.NormsItems.Category.Id, Model.Categories, "Select Category")
                                <label for="message">Category</label>
                            </div>
                        </div>

                        <div id="profile-card" class="card">

                            <div class="card-content">
                                <h4 class="header2">Requirements</h4>
                                <div class="divider"></div>
                                <div class="row">
                                    <div class="col s4">
                                        <label style="text-align:left" for="first_name">Level 1</label>
                                        &nbsp;&nbsp;
                                        <input style="width:200px;" type="number" class="validate">
                                    </div>
                                    <div class="col s4">
                                        <label style="text-align:left" for="first_name">Level 2</label>
                                        &nbsp;&nbsp;
                                        <input style="width:200px;" type="number" class="validate">
                                    </div>
                                    <div class="col s4">
                                        <label style="text-align:left" for="first_name">Level 3</label>
                                        &nbsp;&nbsp;
                                        <input style="width:200px;" type="number" class="validate">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s4">
                                        <label style="text-align:left" for="first_name">Level 4</label>
                                        &nbsp;&nbsp;
                                        <input style="width:200px;" type="number" class="validate">
                                    </div>
                                    <div class="col s4">
                                        <label style="text-align:left" for="first_name">Level 5</label>
                                        &nbsp;&nbsp;
                                        <input style="width:200px;" type="number" class="validate">
                                    </div>
                                    <div class="col s4">
                                        <label style="text-align:left" for="first_name">Level 6</label>
                                        &nbsp;&nbsp;
                                        <input style="width:200px;" type="number" class="validate">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <button class="btn cyan waves-effect waves-light right" type="submit" name="action">
                                    Submit
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        }
    </div>

    <!--card widgets end-->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <div class="divider"></div>
</div>

