@model hrhdashboard.ViewModel.AdminViewModel;

@{
    ViewData["Title"] = "Edit " ;
}

<style>
    .collection .collection-item.avatar {
        min-height: 0;
        line-height: 0;
    }
</style>
<script>
jq(function() {
        jq('a.btn').click(function() {
            jq('form').submit();
        });
});</script>
<div>
    @using (Html.BeginForm("PostNormItems", "Admin", FormMethod.Post))
    {
    <ul style="background-color:white" id="projects-collection" class="collection z-depth-1">
        <li class="collection-item avatar">
            <i class="material-icons red accent-2 circle">Norm_add</i>
            <h5 class="collection-header deep-orange-text">Norm Details</h5>
            <span class="right"></span>
        </li>
        <li class="collection-item">
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">account_circle</i>
                    @Html.TextBoxFor(model => model.NormsView.Item.Name)
                    <label for="icon_prefix">Norm Item</label>
                </div>

                <div class="input-field col s6">
                    <i class="material-icons prefix">email</i>
                 
                    @Html.DropDownListFor(model => model.NormsView.Item.Category.Id, Model.Categories, "Select Catgegory")
                    <label for="icon_prefix">Norm Category</label>
                </div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row">
                <div class="input-field col-md-6">
                    <i class="material-icons prefix">question_answer</i>
                  
                    @Html.DropDownListFor(model => model.NormsView.Item.Type.Id, Model.Types, "Select Type")
                    <label for="message">Type</label>
                </div>
            </div>
        </li>

        <li class="collection-item">
            <div class="row">
                <div class="input-field col s3">
                    <i class="material-icons prefix">account_circle</i>
                    @Html.TextBoxFor(model => model.NormsView.L1Norm)
                    <label for="icon_prefix">Level 1</label>
                </div>

                <div class="input-field col s3">
                    <i class="material-icons prefix">email</i>
                    @Html.TextBoxFor(model => model.NormsView.L2Norm)
                    <label for="icon_prefix">Level 2</label>
                </div>
                <div class="input-field col s3">
                    <i class="material-icons prefix">email</i>
                    @Html.TextBoxFor(model => model.NormsView.L3Norm)
                    <label for="icon_prefix">Level 3</label>
                </div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row">
                <div class="input-field col s3">
                    <i class="material-icons prefix">account_circle</i>
                    @Html.TextBoxFor(model => model.NormsView.L4Norm)
                    <label for="icon_prefix">Level 4</label>
                </div>

                <div class="input-field col s3">
                    <i class="material-icons prefix">email</i>
                    @Html.TextBoxFor(model => model.NormsView.L5Norm)
                    <label for="icon_prefix">Level 5</label>
                </div>
                <div class="input-field col s3">
                    <i class="material-icons prefix">email</i>
                    @Html.TextBoxFor(model => model.NormsView.L6Norm)
                    <label for="icon_prefix">Level 6</label>
                </div>
            </div>
            <div style="margin: 0 0 45px 45px">
                @*@Html.HiddenFor(model => model.NormsView.Item.Id)*@
                <a class="btn waves-effect waves-light gradient-45deg-purple-deep-orange">Save</a>
            </div>
        </li>
    </ul>
    }
</div>
