@model System.Collections.Generic.List<hrhdashboard.Models.Users>

@{
    ViewData["Title"] = "Users";
}

<script src="~/lib/data-tables/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">
    jq(function() {
        jq('.modal').modal();

        jq('#queue-table').DataTable({
            "displayLength": 25,
        });

        jq('#queue-table_filter').on('click', 'i', function() {
            window.location.href = "/administrator/users/add";
        });

        jq('#queue-table td').on('click', 'i.blue-text', function() {
            window.location.href = "/administrator/users/edit/" + jq(this).data('idnt');
        });

        jq('<i class="material-icons medium blue-text">person_add</i>').insertBefore(jq("#queue-table_filter label"));
    });
</script>

<link rel="stylesheet" href="~/lib/data-tables/css/jquery.dataTables.min.css" />
<style>
    #queue-table_length {
        display: none;
    }
    #queue-table_filter {
        text-align: left;
        margin-top: 10px;
    }
    #queue-table_filter i {
        cursor: pointer;
        margin: 13px 30px 0;
        float: right;
    }

    #queue-table_filter label input {
        padding: 0px;
        height: 1.9rem;
        margin: 0;
    }

    #queue-table,
    #queue-table th,
    #queue-table td {
        border-radius: 0px;
    }
    #queue-table tbody tr {
        cursor: pointer;
    }
    #queue-title {
        display: inline-block;
        margin-bottom: -60px;
        float: left;
        margin-top: 15px;
    }
    i.medium {
        font-size: 2.5rem;
        z-index: 1000;
    }
</style>


<div class="col s12">
    <div id="queue-title">
        <h4 class="zero-margin deep-orange-text">USER MANAGER</h4>
    </div>
    <table id="queue-table" class="responsive-table display stripped" cellspacing="0">
        <thead class="who-color white-text">
            <tr>
                <th>#</th>
                <th>NAME</th>
                <th>EMAIL</th>
                <th>USERNAME</th>
                <th>ENABLED</th>
                <th>TOCHANGE</th>
                <th>ROLE</th>
                <th></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td><a class="who-color-text" href="/administrator/users/@user.Id">@user.Name</a></td>
                    <td>@user.Email</td>
                    <td>@user.Username</td>
                    <td>@user.Enabled</td>
                    <td>@user.ToChange</td>
                    <td>@user.Role.Name</td>
                    <td>
                        <i class="material-icons blue-text" data-idnt="@user.Id">border_color</i>
                        <i class="material-icons red-text">delete_forever</i>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div id="add-assets" class="modal modal-fixed-footer" style="width: 600px">
    <div class="modal-content">
        <h4> ADD USERS</h4>

    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-red btn-flat ">Disagree</a>
        <a class="waves-effect modal-close waves-green btn-flat " id="agree-btn">Agree</a>
    </div>
</div>
